.home{
    margin-top: 50px;
}
.container{
    display: relative;
    overflow: hidden;
}

.imgContainer{
    display: grid;
    /* grid-template-columns: repeat(3,100%); */
    transition: transform 1s ease-in-out;
}

.pic{
    width: 100%;
    background: transparent;
    height: 300px;
}

.star{
    color: #ffbb00;
}

.laststar{
    background: linear-gradient(to right, #ffbc04 75%, black 50%);
    /* background: linear-gradient(to right, rgb(49, 219, 49) 75%, black 50%); */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.rating{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Text{
    font-size: 10px;
    color: black;
}
.ratingText{
    font-size: 10px;
}

.gmaps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinceContainer{
    padding: 0px;
    margin: 0px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.since{
    width: 50px;
}

.trustedText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingContainer{
    display: grid;
    row-gap: 20px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.092),rgba(0, 0, 0, 0.344));
    border-radius: 100px;
    margin: 15px;
}

.brandImg{
    width: 40px;
    max-height: 40px;
    /* height: 30px; */
    /* background-color: green; */
}

.brand{
    margin: 10px;

    min-width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 1px solid black; */
}

.brandText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}

.brandText span{
    font-size: 12px;
    font-weight: 600;
}

.brandImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;


    flex-basis: 60%;
    /* background-color: green; */
}


.brandNames{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.shopByContainer{
    margin: 15px;
}

.bestSellingContainer{
    /* border: 2px solid black; */
    height: 350px;
    margin: 15px;
}

.outercontainer{
    background: rgba(0, 0, 0, 0.845);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    position: relative;
}

.innerContainer{
    background: white;
    height: 55%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.bestSellingtext{
    color: white;
    margin: 30px;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.bestSellingItems{
    width: 100%;
    background: transparent;  
    height: 60%;
    position: absolute;
    /* margin: 10px; */
    transform: translate(0%, 50%);

    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.bestSellingItem{
    background: white;
    min-width: 55%;
    min-height: 80%;
    margin: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestSellingpic{
    width: 150px;
}

.aboutUsContainer{
    height: 300px;
}

.aboutUsContainer p{
    font-size: 15px;
}

.popup{
    margin : 0px 5px;
    height: 60vh;
    background: white;

    position: fixed;
    bottom: -60vh;
    right: 0;
    left: 0;
    top: auto;
    z-index: 1000;

    box-shadow: 10px 10px 10px 10px grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding: 10px;

    /* display: none; */

    transition: bottom 0.5s ease;
}

.arrow{
    height: 20px;
}

.shopBox{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}


/* products Display */

.productsDisplay{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.627);
    position: fixed;
    bottom: 5vh;
    z-index: 900;


    transition: all 0.5s ease;

    left : 20px;
    border-radius: 50%;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg{
    width: 40px;
    max-height: 40px;

    display: none;
}

.productContainer{
    /* height: 50px; */
    /* width: 50px; */
    /* border: 2px solid black; */
}

.display{
    display: block;
}