.navBar{
    display: flex;
    justify-content: center;
    background: black;
    padding: 5px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.titleContainer{
    display: flex;
    margin: 0;
    padding: 0;
}

.img{
    width: 50px;
    background: transparent;
}


.text{
    color: white;
    font-size: 40px;
    font-weight: bold;
}