.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p{
    font-size: 18px;
    font-weight: 600;
}

.containerBox{
    margin-top: 20px;  
    height: 50vh;
    overflow: scroll;
    scrollbar-width: none;
}

.popup{
    
}